body {
	font-family: "Roboto";
	width: 1200px;
	margin: 0px;
	padding: 0px;
	background: url(../img/gllacy-index-1200.jpg) no-repeat;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

header {
	margin: 8px 21px;

	.header-logo {
		float: left;
		width: 154px;
		height: 64px;
		margin: 0px;
	}

	.main-navigation {
		float: left;
		width: 560px;

		ul {
			padding: 0px;
			margin: 21px 29px;

			li {
				display: inline;
				margin-right: 24px; 

				a {
					font-size: 16px;
					line-height: 18px;
					font-weight: bold;
					color: #fff;
					text-decoration: none;
					border-bottom: 1px solid #9eb3a8;
				}
			}
		}
	}

	.user-block {
		float: right;
		width: 267px;
		margin: 24px;
		margin-bottom: 0px;

		.search {
			display: inline;
			a {
				background: #a1b5aa url("../img/search-icon.png") no-repeat center;
				color: #a1b5aa;
				width: 32px;
				height: 32px;
				border-radius: 50%;				
			}
		}

		.login {
			display: inline;
			a {
				background: url(../img/login-icon.png) 7px no-repeat #a1b5aa;
				color: #fff;
				text-align: center;
				padding: 5px 32px 5px 30px;
				border-radius: 10px;
			}
		}

		.cart {
			display: inline;
			a {
				background: #a1b5aa url("../img/cart-icon.png") no-repeat left;
				color: #fff;
				text-align: right;
			}
		}
	}

	.contact .number {
		margin-top: 42px;
		margin-right: 21px;
	}

	.contact {
		float: right;
		
		.time {
			float: right;
			margin-top: 19px;
			margin-right: 22px;
			span {
				font-size: 14px;
				line-height: 16px;
				font-weight: bold;
				color: #fff;
			}
		}

		.number {
			span {
				font-size: 22px;
				line-height: 24px;
				font-weight: bold;
				color: #fff;
			}
		}
	}
}

main {
	.banner {
		margin-top: 530px;

		.banner-left, .banner-right {
			width: 560px;
			height: 230px;

			h2 {
				margin: 0;
				padding-top: 16px;
				padding-left: 18px;
				font-size: 35px;
				line-height: 41px;
				font-weight: bold;
				color: #fff;
			}

			p {
				margin: 0px;
				font-size: 18px;
				line-height: 22px;
				font-weight: bold;
				color: #fff;
				padding-top: 15px;
				padding-left: 20px;
			}

			.button-banner {
				margin-top: 44px;
				margin-left: 375px;
			}

			a {

			}
		}

		.banner-left {
			float: left;
			background: url("../img/raspbe0rry-bg.png");
		}

		.banner-right {
			float: right;
      background: url("../img/chocola0te-bg.png");
		}
	}
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  padding: 11px 19px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
  background: linear-gradient(to bottom,#f26843 0,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
} 
/*
Сделать горячую команду для написания хар-к текста*/