body {
	font-family: 'Roboto', sans-serif;
	width: 1200px;
	margin: 0px;
	padding: 0px;
	background: #849d8f url(../img/gllacy-cata0log-1200.jpg) no-repeat;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

.main-menu > li>:hover {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 16px;
	background: #f8f7f4;
	text-align: right;
	border-radius: 16px;
	color: red;
}

header {
	margin: 8px 21px;
	margin-bottom: 0;

	.header-logo {
		float: left;
		width: 154px;
		height: 64px;
		margin: 0px;
	}

	.main-navigation {
		float: left;
		width: 560px;

		.main-menu {
			margin: 21px 29px;
			padding: 0px;
			position: relative;

			li {
				margin-right: 24px;
				display: inline; 

				a {
					font-size: 16px;
					line-height: 18px;
					font-weight: bold;
					text-decoration: none;
					border-bottom: 1px solid #9eb3a8;
					color: #fff;
				}
			}

			li {
				.navi-catalog {
					border-bottom: none;
				}
			}
		}

		.sub-menu {
			position: absolute;
			left: -58px;
			top: 29px;

			li {
				display: block;
				background: #f8f7f4;

				a {
					font-size: 14px;
					line-height: 16px;
					font-weight: bold;
					color: #323232;
				}
			}

		}
	}

	.user-block {
		float: right;
		width: 267px;
		margin-bottom: 0px;
		margin-top: 22px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;

		a {
			text-decoration: none;
		}

		.search {
			display: inline;

			a {
				display: block;
				float: left;
				padding: 8px 16px;
				margin-top: -8px;
    		background-color: rgba(255,255,255,.2);
    		border-radius: 50%;	
    		font-size: 0px;
			}

			a:before {
				background: url(../img/search-icon.png) center no-repeat #a1b5aa;
			}

			a:hover {
			}
		}

		.login {
			float: left;
			margin-left: 10px;

			a {
				padding-top: 7px;
				padding-bottom: 7px;
				padding-left: 45px;
				padding-right: 16px;
				background: #a1b5aa url(../img/login-icon.png) 16px no-repeat;
				color: #fff;
				text-align: right;
				border-radius: 16px;	
			}
		}

		.cart {
			float: left;
			margin-left: 10px;

			a {
				padding-top: 7px;
				padding-bottom: 7px;
				padding-left: 45px;
				text-align: right;
				border-radius: 16px;
			}
		}

		.cart-index {
			a {
				padding-right: 33px;
				background: #a1b5aa url(../img/cart-icon.png) 16px no-repeat;
				color: #fff;
			}
		}

		.cart-catalog {
			a {
				padding-right: 14px;
				background: #fff url(../img/cart-full-icon.png) 16px no-repeat;
				color: #000;
			}
		}
	}

	.contact {
		float: right;
		margin-top: 25px;
		
		.time {
			float: right;
			margin-top: 0px;
			margin-right: 6px;
			margin-left: 16px;

			span {
				font-size: 14px;
				line-height: 16px;
				font-weight: bold;
				color: #fff;
			}
		}

		.number {
			span {
				font-size: 22px;
				line-height: 32px;
				font-weight: bold;
				color: #fff;
			}
		}
	}
}

main {
	.banner {
		margin-top: 528px;

		.banner-left, .banner-right {
			width: 560px;
			height: 230px;

			h2 {
				margin: 0;
				padding-top: 16px;
				padding-left: 18px;
				font-size: 35px;
				line-height: 41px;
				font-weight: bold;
				color: #fff;
			}

			p {
				margin: 0px;
				font-size: 18px;
				line-height: 22px;
				font-weight: bold;
				color: #fff;
				padding-top: 15px;
				padding-left: 20px;
			}

			.button-banner-left {
				margin-top: 43px;
				margin-left: 374px;
				padding-right: 24px;
				padding-left: 21px;
			}

			.button-banner-right {
				margin-top: 43px;
				margin-left: 351px;
				padding-right: 24px;
				padding-left: 21px;
			}
		}

		.banner-left {
			float: left;
			background: url("../img/raspberry-bg.png");
		}

		.banner-right {
			float: right;
      background: url("../img/chocolate-bg.png");
		}
	}

	.popular {
		position: relative;
		.popular-item {
			float: left;
			position: relative; 
			width: 267px;
			margin-top: 39px;
			margin-right: 26px;


			.item-img {
				width: 61px;
				height: 61px;
			}

			.item-hit {
				position: absolute;
				left: 0px;
				top: 0px;
			}

			.price {
				margin-top: 148px;
				.cost {
					font-size: 45px;
					line-height: 45px;
					font-weight: bold;
					color: #fff;
				}

				img {
					vertical-align: top;
					margin-top: 6px;
				}

				.weight {
					margin-left: -3px;
					font-size: 30px;
					line-height: 45px;
					font-weight: bold;
					color: #fff;
				}
			}

			h2 {
				margin: 22px 0 0;
				font-size: 16px;
				line-height: 22px;
				font-weight: normal;
				color: #fff;
				text-align: center;
			}

			a {
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid #9db1a5;
			}

			a:hover {
				color: #ffbc9e;
				border-bottom: 1px solid #a7a294;
			}

			a:active {
				color: #ffbc9e;
				border-bottom: 1px solid #a7a294;
			}
		}

		.popular-item:last-child {
			margin-right: 0px;
		}
	}

	.about-us {
		background: url("../img/seo-pattern.png") no-repeat;
		margin-top: 31px;
		padding-bottom: 25px;

		h3 {
			padding-top: 25px;
			padding-left: 20px;
			margin-bottom: 0;
			font-size: 24px;
			line-height: 30px;
			font-weight: 500;
			color: #323232;
			margin-bottom: 0;
		}

		p {
			width: 490px;
			font-size: 16px;
			line-height: 22px;
			font-weight: normal;
			color: #323232;
		}

		.about-us-left {
			float: left;
			width: 566px;

			.ice-cream {
				img {
					margin-top: 8px;
					margin-left: 20px;
				}

				p {
					float: right;
					margin-top: 21px;
					margin-bottom: 0;
				}
			}

			.leaf {
				img {
					margin-top: 9px;
					margin-left: 20px;
				}

				p {
					float: right;
					margin-top: 21px;
					margin-bottom: 0;
				}
			}
		}

		.about-us-right {
			float: right;
			width: 566px;

			.cow {
				img {
					margin-top: 8px;
					margin-left: 6px;
				}

				p {
					float: right;
					margin-top: 21px;
					margin-bottom: 0;
					margin-right: 13px;
				}
			}

			.temperature {
				img {
					margin-top: 9px;
					margin-left: 6px;
				}

				p {
					float: right;
					margin-top: 21px;
					margin-bottom: 0;
					margin-right: 13px;
				}
			}
		}
	}

	.blog {
		float: left;
		width: 560px;
		margin-top: 41px;
		padding-bottom: 81px;
		background: url("../img/blog-bg.png");

		h4 {
			margin-top: 23px;
			margin-left: 19px;
			margin-bottom: 0px;
			font-size: 16px;
			line-height: 22px;
			font-weight: 500;
			color: #323232;
		}

		p {
			width: 300px;
			margin: 0px;
			margin-top: 4px;
			margin-left: 19px;
			font-size: 24px;
			line-height: 30px;
			font-weight: bold;
			color: #323232;
			text-decoration: underline;
		}
	}

	.news-letter {
		float: right;
		width: 560px;
		margin-top: 41px;
		background: #f8f7f4 url("../img/edging-pattern.png");
		border-radius: 10px;

		.news-letter-bg {
			background: #f8f7f4;
			margin: 6px;
			padding: 13px 0;
			border-radius: 4px;
		}

		p {
			width: 518px;
			margin-top: 15px;
			margin-left: 21px;
			margin-bottom: 19px;
			font-size: 16px;
			line-height: 22px;
			font-weight: 400;
			color: #5a5a5a;
		}

		.button-send {
			margin-top: 14px;
			margin-bottom: 17px;
			margin-left: 4px;
			padding-right: 14px;
		}
	}

	.map {
		clear: both;
		position: relative;

		width: 1200px;
		height: 430px;
		margin-left: -27px;
		background: url("../img/map-bg.jpg");
		margin-top: 40px;


		.map-adress {
			position: absolute;
			top: 63px;
			left: 872px;
			width: 250px;
			padding-right: 51px;
			background: #fdfefe;
			border-radius: 13px;

			p {
				padding-top: 13px;
				padding-left: 25px;
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				color: #323232;

				.map-phone {
					padding-top: 9px;
					padding-bottom: 12px;
				}

				b {
					font-size: 18px;
					line-height: 24px;
					font-weight: bold;
					color: #323232;
				}
			}

			.btn-feedback {
				margin-top: 9px;
				margin-left: 26px;
				padding-right: 6px;
				margin-bottom: 29px;
			}
		}

		.icecream-icon {
			position: absolute;
			top: 138px;
			left: 265px;
		}
	}
}

footer {
	clear: both;

	.footer-social {
		float: left;
		margin-top: 36px;
		margin-left: 28px;


		.social-btn {
  		vertical-align: top;
  		text-decoration: none;
  		border: 3px solid rgba(255,255,255,.5);
			border-radius: 50%;
			font-size: 0;
			margin-right: 8px;
			height: 32px;
			width: 32px;
  		display: inline-block;
		}

		.social-btn-tw {
			background: url("../img/icon-tw.png") no-repeat center;
		}

		.social-btn-inst {
			background: url("../img/inst-icon.png") no-repeat center;
		}

		.social-btn-fb {
			background: url("../img/fb-icon.png") no-repeat center;
		}

		.social-btn-vk {
			background: url("../img/vk-icon.png") no-repeat center;
		}
	}

	.menu {
		float: left;
		margin-top: 16px;
		margin-left: 186px;

		a {
			font-size: 13px;
			line-height: 18px;
			font-weight: 400;
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid #9eb3a8;
		}

		a:hover {
			color: #ffbc9e;
			border-bottom: 1px solid #a7a294;
		}

		a:active {
			color: #ffbc9e;
			border-bottom: 1px solid #a7a294;
		}

		li {
				list-style-type: none;
			}

		.menu-left {
			float: left;

			li:first-child {
				list-style-image: url("../img/love-icon.png");
				a {
					font-weight: bold;						
				}
			}
		}

		.menu-right {
			float: right;
			margin-left: 31px;
			padding: 0px;
		}
	}

	.footer-copyright {
		float: right;
		margin-top: 19px;
		margin-right: 26px;

		p {
			width: 190px;
			margin-top: 0px;
			font-size: 12px;
			line-height: 18px;
			font-weight: 400;
			color: #fefefe;

			a {
				font-size: 12px;
				line-height: 18px;
				font-weight: 400;
				color: #fefefe;
				text-decoration: none;
				border-bottom: 1px solid #9eb3a8;
			}

			a:hover {
				color: #ffbc9e;
				border-bottom: 1px solid #a7a294;
			}

			a:active {
				color: #ffbc9e;
				border-bottom: 1px solid #a7a294;
			}
		}
	}
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  background: linear-gradient(to bottom,#f26843 0,#e74a35 100%);
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  vertical-align: top;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  padding: 11px 19px;
  display: inline-block;
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}


a.btn.btn-feedback {
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
} 

input[placeholder] {
	margin-top: 17px;
	margin-left: 21px;
	padding-top: 8px;
	padding-left: 21px;
	padding-bottom: 8px;
	padding-right: 149px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	border: 1px solid #d3d3d2;
	border-radius: 3px;
	padding: 9px 156px 9px 13px;

}

input::-moz-placeholder {
	margin-top: 37px;
	margin-left: 26px;
	padding-top: 8px;
	padding-left: 21px;
	padding-bottom: 8px;
	padding-right: 149px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	border: 1px solid #d3d3d2;
	border-radius: 3px;
}

input:-moz-placeholder {
	margin-top: 37px;
	margin-left: 26px;
	padding-top: 8px;
	padding-left: 21px;
	padding-bottom: 8px;
	padding-right: 149px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	border: 1px solid #d3d3d2;
	border-radius: 3px;
}

input:-ms-input-placeholder {
	margin-top: 37px;
	margin-left: 26px;
	padding-top: 8px;
	padding-left: 21px;
	padding-bottom: 8px;
	padding-right: 149px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
	border: 1px solid #d3d3d2;
	border-radius: 3px;
}  

/*catalog.html*/
header {

	.navi-catalog {
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 7px;
		padding-bottom: 7px;
		padding-left: 15px;
		padding-right: 16px;
		background: #d07058;
		color: #fff;
		text-align: right;
		border-radius: 16px;
	}
	
	.breadcrumbs {
		clear: both;
		float: left;
		margin-top: 24px;
		margin-left: 6px;
		margin-bottom: 0px;

		ul {
			padding: 0px;
			margin: 0px;

			li {
				display: inline;
				margin-right: 2px;
				
				a {
					font-size: 14px;
					line-height: 16px;
					font-weight: 400;
					color: #ffffff;
					border-bottom: 1px solid #aebeb5;
					text-decoration: none;
				}
			}

			li::after {
				content: "»";
				color: #fff;
				margin-left: 3px;
			}

			li:last-child::after {
				content: "";
			}

			li:last-child {
				a {
					border-bottom: 0px solid #aebeb5;
				}
			}
		}
	}

	.contact-catalog {
		margin-top: -2px;
	}
}

main {
	.filter {
		clear: both;
		margin-bottom: 10px;
		margin-top: -23px;


		h1 {
			margin-bottom: 0px;
			font-size: 35px;
			font-weight: bold;
			color: #fff;
			text-align: left;
			line-height: 12px;
		}

		form {
			margin-top: 12px;
		}

		h3 {
			font-size: 14px;
			line-height: 16px;
			font-weight: 500;
			color: #fff;	
		}

		.sort {
			width: 200;
			float: left;

			h3 {
				margin-top: 27px;
				margin-left: 16px;
				margin-bottom: 4px;
			}

			.filter-sort {
				width: 193px;
				font-size: 16px;
				line-height: 18px;
				font-weight: 500;
				color: #fff;
				background: #a9bab0;
				padding: 9px 15px;
    		box-sizing: border-box;
    		border-radius: 18px;

    		option {
    			font-weight: normal;
   				display: block;
    			white-space: pre;
    			padding: 0px 2px 1px;
    			background: #fff;
    			color: #323232;
    			font-size: 14px;
					line-height: 16px;
					font-weight: 400;
    		}
			}

			.filter-sort:hover {
				background: #fff;
				color: #323232;
			}
		}

		.filter-range {
			float: left;
			width: 223px;
			margin-top: 20px;
			margin-left: 13px;

			h3 {
				margin-top: 7px;
				margin-left: 17px;
				margin-bottom: 0px;
			}

			.price-field {
				margin-top: 5px;
    		padding: 16px 15px;
    		position: relative;

    		box-sizing: border-box;
    		font-size: 0;
    		background-color: rgba(248,247,244,.2);
    		border: 0;
    		border-radius: 18px;

    		.scale {
    			width: 191px;
    			height: 4px;
    			background: rgba(255,255,255,.5);

    			.bar {
    				height: 4px;
    				margin-left: 35px;
    				margin-right: 67px;
    				background: #f8f7f4;
    			}
    		}

    		.toggle {
    			position: absolute;
    			top: 8px;
    			width: 20px;
    			height: 20px;
    			background-color: #f8f7f4;
    			border-radius: 50%;
    			box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
   	 			cursor: pointer;
    		}

    		.toggle-min {
    			left: 35px;
    		}

    		.toggle-max {
    			right: 68px;
    		}
			}
		}

		.fat {
			width: 420px;
			float: left;
			margin-top: 13px;
			margin-left: 4px;

			.fat-box {
				background: #a8bab0;
				border-radius: 18px;

				font-size: 16px;
				line-height: 18px;
				font-weight: 500;
				color: #fff; 
			}
		}

		.fillers {
			float: left;
			margin-left: 15px;
			width: 703px;
			margin-top: 10px;

			.fillers-box {
				background: #a8bab0;
				border-radius: 18px;

				font-size: 16px;
				line-height: 18px;
				font-weight: 500;
				color: #fff; 
			}
		}

		button {
			float: right;
			margin-right: 315px;
			margin-top: 48px;
		}
	}

	.popular-catalog {
		.popular-item:nth-child(n + 5) {
			margin-top: 31px;
		}
	}

	.popular-item:nth-child(4n)
	{
		margin-right: 0;
	}

	.popular-item:nth-child(n + 4)
	{
		margin-bottom: 5px;
	}

	.page {
		clear: both;
		float: right;
		margin-top: 63px;
		margin-right: 0px;

		ul {
			li {
				display: inline;
				margin-right: 17px;
				a {
					font-size: 16px;
					line-height: 18px;
					font-weight: 500;
					color: #fff;
					text-decoration: none;
				}
			}
			
			li:nth-child(2) {
				margin-right: 5px;
				a {
					padding: 3px 10px;
					background-color: #fff;
					border-radius: 50%;
					color: #323232;
				}
			}

			li:last-child {
				margin-right: 0px;
			}
		}
	}

	.line {
		clear: both;
		margin-top: 130px;
		border-bottom: 1px solid #a9bbb1;
	}
}

/*
Сделать горячую команду для написания хар-к текста*/  